{% extends 'layout.twig' %}
{% block title %}GitList{% endblock %}

{% block body %}
{% include 'navigation.twig' %}

<div class="container" id="repositories">
    <form class="form" role="search" action="" method="GET">
        <div class="input-group">
            <input name="search" value="{{ search }}" type="text" class="form-control" placeholder="Search..." autofocus>
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Go</button>
            </span>
        </div>
    </form>

    <br>

    {% if repositories %}
        <div class="list panel-group" id="accordion_root" role="tablist">
            {% for repo in repositories %}
                {% include 'repo_accordion.twig' with {directory: repo, parent: 'root', search: search, isFirst: true} only %}
            {% endfor %}
        </div>
    {% else %}
        <div class="bg-info">
            <p>No repositories found...</p>
        </div>
    {% endif %}

    <hr />

    {% include 'footer.twig' %}
</div>
{% endblock %}
