{% extends 'layout.twig' %}
{% block title %}GitList{% endblock %}

{% block body %}
{% include 'navigation.twig' %}

<div class="container" id="repositories">
    <div class="search">
        <input class="search" placeholder="search" autofocus>
    </div>

    {% for repo in repositories %}
        {% include 'repo_accordion.twig' with {directory: repo, parent: 'root'} only %}
    {% endfor %}
    <hr />

    {% include 'footer.twig' %}
</div>
{% endblock %}
