{% extends 'layout.twig' %}
{% block title %}GitList{% endblock %}

{% block body %}
{% include 'navigation.twig' %}

<div class="container" id="repositories">
    <form class="form-inline" role="search">
        <div class="form-group">
            <input id="search" type="text" class="form-control" placeholder="Search..." autofocus>
        </div>
        <button type="submit" class="btn btn-default">Go</button>
    </form>

    <div class="list panel-group" id="accordion_root" role="tablist">
        {% for repo in repositories %}
            {% include 'repo_accordion.twig' with {directory: repo, parent: 'root'} only %}
        {% endfor %}
    </div>
    <hr />

    {% include 'footer.twig' %}
</div>
{% endblock %}
